@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@1,14..32&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Inter:ital,opsz@1,14..32&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color: yellow;
}

.thumbs-wrapper{
    display: flex;
    justify-content: center;
}

.react-tabs__tab-list {
    font-size: 24px;
    display: flex;
    justify-content: center;
}